@import url(https://fonts.googleapis.com/css?family=Bangers|Indie+Flower);
body {
  background: linear-gradient(135deg, blue, rgb(157, 204, 249)60%);
}
h1 {
  font-family: 'Bangers', cursive;
  font-size: 7rem;
  text-align: center;
}
.item img{
  width: 55%;
  margin: auto;
}
.text {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
}
.search {
  font-size: 3.5rem;
}
.search button {
  font-size: 2.5rem;
}
.movieWidth {
  width: 35%;
  margin-bottom: 5px;
}
footer {
  margin-top: 2%;
  height: 100px;
  border-top: 5px solid rgb(21, 26, 140);
}
footer p {
  padding-top: 30px;
  font-size: 2rem;
}
